:root {
    --font-family: 'Arial', sans-serif;
    --background: #062a42;

    --color-four: #093C5D;
    --color-three: #3B7597;
    --color-two: #6FD1D7;
    --color-one: #5DF8D8;
}

html {
    margin: 0;
}

body {
    background-color: var(--background);
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.dashboard {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: var(--color-four);
    padding: 20px;
}

.dashboard-upgrade {
    flex: 1 1 260px;
    min-width: 260px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-three);
    padding: 30px 20px;
}

#Current, #Goal, #Progress, #Finish {
    margin: 0;
    color: white;
}

.Info {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    gap: 20px;
    color: white;
    background-color: var(--color-four);
    padding: 30px 20px;
    gap: 10%;
}

.Info label {
    font-size: 1.2em;
}

.Info input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    margin-top: 5px;
}

